.product-detail-layout {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr;
  gap: clamp(16px, 4vw, 32px);
  direction: rtl;
}
.product-gallery,
.product-swiper {
  width: 100%;
  min-width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: var(--radius-lg);
  overflow: hidden;
  margin-inline: auto;
}
.product-gallery {
  box-shadow: var(--shadow-2xl);
  position: sticky;
  top: 120px;
  margin: var(--space-4);
  margin-bottom: 40px;
}
.product-swiper {
  position: relative;
}
.product-swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: var(--color-primary-500);
  opacity: 0.5;
  transition: 0.3s;
}
.product-swiper .swiper-pagination-bullet-active {
  background: var(--color-primary-500);
  opacity: 1;
  transform: scale(1.1);
}

.product-swiper .swiper-pagination {
  bottom: 12px !important;
}
.custom-prev,
.custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 15;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.25s ease;
  color: var(--color-primary-500);
  padding: 5px;
  opacity: 0.5;
}
.custom-prev:active,
.custom-next:active {
  transform: translateY(-50%) scale(0.9);
}
.custom-prev:hover,
.custom-next:hover {
  box-shadow: var(--shadow-md);
  background: var(--bg-card);
  opacity: 1;
}
.custom-prev {
  right: 10px !important;
}
.custom-next {
  left: 10px !important;
}
.product-gallery .slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .product-detail-layout {
    grid-template-columns:
      clamp(300px, 40%, 420px)
      1fr;
    align-items: start;
    margin-top: 100px;
  }
  .product-gallery,
  .product-swiper {
    margin-inline: 0;
  }
}
@media (min-width: 1200px) {
  .product-detail-layout {
    grid-template-columns:
      clamp(360px, 33%, 500px)
      1fr;
    gap: clamp(24px, 2vw, 48px);
  }
  .product-gallery,
  .product-swiper {
    max-width: 100%;
  }
}
@media (min-width: 1440px) {
  .product-detail-layout {
    grid-template-columns:
      clamp(400px, 30%, 560px)
      1fr;
  }
}
@media (max-width: 768px) {
  .product-gallery {
    position: relative;
    top: 0;
    margin: 0 auto;
    width: 100%;
  }
}
