.product-card {
  background: var(--bg-card);
  border-radius: var(--radius-lg);
  padding: var(--space-4);
  transition: var(--transition-fast);
  cursor: pointer;
  width: 100%;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-lg);
}

.error-card:hover,
.error-card {
  background: none;
  border: 2px solid var(--border-primary);
  transform: none;
  box-shadow: none;
  transition: none;
}

.error-card h3 {
  color: var(--color-error-500);
}

.image-wrapper img {
  width: 100%;
  object-fit: cover;
  border-radius: var(--radius-md);
}

.product-card .product-info {
  margin-top: var(--space-4);
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.product-card .product-title {
  font-size: var(--text-xl);
  font-weight: var(--font-weight-medium);
  margin-bottom: var(--space-2);

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-card .product-price span {
  font-size: var(--text-lg);
  font-weight: var(--font-weight-bold);
  color: var(--color-primary-600);
}

.product-card .product-btn {
  margin-top: var(--space-4);
  width: 100%;
  padding: var(--space-3) 0;
  background: var(--color-primary-500);
  color: var(--text-on-primary);
  border: none;
  border-radius: var(--radius-lg);
  font-size: var(--text-lg);
  transition: var(--transition-fast);
  font-weight: var(--font-weight-bold);
}

.product-card .product-btn:hover {
  background: var(--color-primary-600);
}

/* ============================
   Small screens (phones)
============================ */
@media (max-width: 480px) {
  .product-card,
  .product-card:hover {
    transform: none !important;
    box-shadow: none !important;
  }

  .image-wrapper img {
    height: 150px;
  }

  .product-title {
    font-size: var(--text-base);
  }

  .product-price span {
    font-size: var(--text-md);
  }

  .product-btn {
    font-size: var(--text-base);
    padding: var(--space-2) 0;
  }
}

@media (max-width: 360px) {
  .product-card {
    padding: var(--space-2);
    border-radius: var(--radius-md);
    transform: none !important;
    box-shadow: none !important;
  }

  .image-wrapper img {
    height: 130px;
  }

  .product-card .product-info {
    margin-top: 10px;
  }

  .product-card .product-title {
    font-size: var(--text-md);
  }

  .product-card .product-price span {
    font-size: var(--text-base);
  }

  .product-card .product-btn {
    font-size: var(--text-xs);
    border-radius: var(--radius-md);
    margin-top: 5px;
  }
}