/* =====================================================
   CSS Reset & Global Styles
===================================================== */

/* Box sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: var(--font-ar);
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

/* Set core root defaults */
html {
  text-size-adjust: 100%;
  scrollbar-gutter: stable;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  min-height: 100dvh; 
  line-height: var(--leading-normal);
  color: var(--text-primary);
  background: var(--bg-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
body {
  margin-top: 100px;
}
body:has(.home-page) {
  margin-top: 0;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Improve button accessibility */
button {
  border: none;
  background: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

/* Improve link accessibility */
a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

a:active,
button:active {
  transform: Scale(0.98);
}

/* Remove list styles on ul, ol elements with list role */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Change text color and background on selection */
::selection {
  background: var(--selection-bg);
  color: var(--selection-text);
}

/* For Firefox */
::-moz-selection {
  background: var(--selection-bg);
  color: var(--selection-text);
}
