.cart {
  padding: var(--space-12) 0;
}

.cart-title {
  text-align: center;
  margin-bottom: var(--space-10);
}

.cart-content {
  display: flex;
  flex-direction: row;
  gap: var(--gap-lg);
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 2;
}

.cart-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--bg-card);
  padding: 1rem;
  border-radius: var(--radius-lg);
  gap: 1rem;
}

.cart-img {
  width: 100px;
  height: 100px;
  border-radius: var(--radius-md);
  object-fit: cover;
}

/* معلومات المنتج */
.cart-info {
  flex: 1;
}

.cart-info h2 {
  font-size: var(--text-lg);
  margin-bottom: 0.3rem;
}

/* كمية */
.qty {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.qty button {
  width: 32px;
  height: 32px;
  background: var(--color-primary-500);
  color: #fff;
  border: none;
  border-radius: var(--radius-sm);
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.qty input {
  width: 45px;
  text-align: center;
  border: 1px solid var(--border-primary);
  border-radius: var(--radius-sm);
  padding: 0.2rem;
}

/* زر حذف */
.remove {
  background: var(--color-error-500);
  padding: 0.6rem;
  border-radius: var(--radius-md);
  display: flex;
  margin-inline: auto 0;
}

.remove:hover {
  background: var(--color-error-600);
}

.remove svg {
  transition: var(--transition-fast);
}

.remove:hover svg {
  transform: translateY(-3px);
}

/* ==================== SUMMARY ==================== */

.cart-summary {
  background: var(--bg-card);
  padding: 1.5rem;
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-lg);
  width: 100%;
  flex: 1;
}

.cart-summary h2 {
  font-size: var(--text-xl);
  margin-bottom: 1rem;
  text-align: center;
}

.summary-details p {
  display: flex;
  justify-content: space-between;
  margin: 0.4rem 0;
  font-size: var(--text-base);
}

.discount {
  color: var(--color-error-500);
}

.final-total {
  font-weight: bold;
  font-size: var(--text-lg);
}
.checkout-btn {
  width: 100%;
  padding: 0.9rem;
  margin-top: 1rem;
  border: none;
  border-radius: var(--radius-md);
  background: var(--color-primary-500);
  color: var(--text-on-primary);
  font-size: var(--text-lg);
  font-weight: 600;
  cursor: pointer;
}
.checkout-btn:hover {
  background: var(--color-primary-600);
}

.empty-cart {
  flex: 2;
  display: flex;
  align-content: center;
  justify-content: center;
  border: 2px solid var(--border-primary);
  border-radius: var(--radius-lg);
}

.empty-cart-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: var(--gap-sm);
}

.empty-cart .btn {
  background: var(--color-primary-500);
  color: var(--text-on-primary);
}

@media (max-width: 768px) {
  .cart-content {
    flex-direction: column;
  }
  .empty-cart {
    min-height: 60dvh;
  }
}
@media (max-width: 480px) {
  .cart-item {
    padding: 0.7rem;
    gap: 0.5rem;
  }
}
