.products {
  direction: rtl;
  text-align: right;
  padding: var(--space-16) 01;
  background: var(--bg-secondary);
}

.products-title {
  font-family: var(--font-ar);
  font-size: var(--text-4xl);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--space-8);
  color: var(--text-primary);
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--gap-lg);
}

.product-card {
  background: var(--bg-card);
  border-radius: var(--radius-lg);
  padding: var(--space-4);
  transition: var(--transition-normal);
  cursor: pointer;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-lg);
}

.image-wrapper img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: var(--radius-md);
}

.product-info {
  margin-top: var(--space-4);
}

.product-title {
  font-size: var(--text-xl);
  font-weight: var(--font-weight-medium);
  margin-bottom: var(--space-2);

  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-price span {
  font-size: var(--text-lg);
  font-weight: var(--font-weight-bold);
  color: var(--color-primary-600);
}

.product-btn {
  margin-top: var(--space-4);
  width: 100%;
  padding: var(--space-3) 0;
  background: var(--color-primary-500);
  color: var(--text-on-primary);
  border: none;
  border-radius: var(--radius-lg);
  font-size: var(--text-lg);
  transition: var(--transition-fast);
}

.product-btn:hover {
  background: var(--color-primary-600);
}
.search-bar {
  width: 100%;
  max-width: 600px;
  padding: 12px;
  margin: auto;
  margin-bottom: 20px;
  border: 1px solid var(--bg-card);
  border-radius: var(--radius-lg);
  font-size: var(--text-md);
  box-shadow: var(--shadow-sm);
  outline: none;
  transition: var(--transition-fast);
}
@media (max-width: 480px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-xs);
  }
  .product-info {
    margin-top: var(--space-4);
  }

  .product-title {
    font-size: var(--text-md);
  }
}
@media (max-width: 360px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
}